:root {
  /*Colors*/

  --cinza-1: #0c2229;
  --cinza-2: #0c2229;
  --cinza-3: #4d6361;
  --cinza-4: #8d9c96;
  --cinza-5: #ced5d0;

  --azul-1: #12a2da;
  --azul-2: #005fb6;
  --azul-3: #002c94;
  --azul-4: #001671;

  --azul-escuro: #1b5588;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Header */

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
  max-width: 1423px;
  margin-top: 10px;
  height: 80px;
}

header .logo-top img {
  width: 235px;
}

header .mobile-logo {
  display: none;
  width: 235px;
}

header .navigation-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

header .navigation-top ul {
  display: flex;
  flex-wrap: nowrap;
}

header .navigation-top ul li {
  list-style: none;
}

header .navigation-top ul li a {
  text-decoration: none;
  color: var(--cinza-3);
  margin: 0 20px;
}

header .social-networks-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

header .social-networks-top .icons {
  display: flex;
  flex-wrap: nowrap;
}

header .social-networks-top .icons a {
  text-decoration: none;
  margin: 3px;
  width: 32px;
}

.attendance a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: var(--azul-1);
  box-shadow: 0px 4px 17px -4px rgba(18, 162, 218, 0.42);
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  margin-left: 10px;
}

.attendance a i {
  margin-left: 10px;
  font-size: 22px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: var(--cinza-3);
  background-color: #fff;
  margin: 0 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.dropdown-content a {
  float: none;
  color: var(--cinza-3);
  display: block;
  padding: 16px 18px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer .dropdown-content {
  background-color: var(--azul-escuro);
}

footer .dropdown .dropbtn {
  background-color: var(--azul-escuro);
  color: #fff;
  margin: 2px 0 8px 0;
  font-size: 16px;
}

.menu-hamburguer {
  width: 32px;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 25px;
  right: 20px;
  display: none;
}

.menu-hamburguer::after {
  content: "";
  width: 32px;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  top: 8px;
}

.menu-hamburguer::before {
  content: "";
  width: 32px;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 8px;
}

@media screen and (max-width: 1110px) {
  .none {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .menu-hamburguer {
    display: block;
    z-index: 9999;
  }

  header .logo-top {
    display: none;
  }

  header .mobile-logo {
    display: block;
  }

  .navigation-top {
    position: fixed;
    align-content: space-around;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    background-color: var(--azul-1);

    transition: 1s ease;
    z-index: 999;
  }

  .navigation-top ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
  }

  header .navigation-top ul li a {
    color: #fff;
    font-size: 20px;
  }

  header .dropdown .dropbtn {
    background-color: var(--azul-1);
    color: #fff;
    font-size: 20px;
  }

  .dropdown-content {
    background-color: var(--azul-1);
  }

  .navigation-top.activemenu {
    right: 0%;
  }
}

/* Fim Header/ */

/* Inicio */

#carousel {
  background-image: url(../img/Group\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#carousel .item-text {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#carousel img {
  width: 699px;
  margin-bottom: 15px;
}

#carousel .border-text {
  width: 357px;
  height: 3.5px;
  border-radius: 4.38px;
  background-color: var(--azul-1);
}

.btn-whats {
  display: none;
}

@media screen and (max-width: 770px) {
  header {
    height: 70px;
    position: absolute;
    width: 100%;
    margin: 0;
  }

  header .mobile-logo {
    margin-left: 10px;
  }

  .border-text {
    display: none;
  }

  #carousel {
    align-items: center;
    justify-content: space-around;
  }

  #carousel .item-text {
    width: 100%;
    align-items: center;
    margin: 0;
  }

  #carousel img {
    width: 90%;
  }

  #carousel .attendance {
    display: block;
  }

  #carousel .btn-whats {
    display: block;
  }
}

#soluçoes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#soluçoes .logo-7 {
  width: 213.45px;
  position: absolute;
  top: -30px;
}

#soluçoes .logo-7 img {
  width: 213.45px;
}

.soluçoes-text {
  text-align: center;
  margin-top: 70px;
}

#soluçoes h2 {
  font-size: 40px;
  margin-bottom: 15px;
  color: var(--azul-escuro);
}

#soluçoes h4 {
  color: var(--cinza-4);
}

#soluçoes .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  max-width: 1486px;
  margin: 30px 0 60px 0;
}
#soluçoes .container .cards-soluçoes {
  width: 40%;
  min-width: 340px;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#soluçoes .container .cards-soluçoes img {
  width: 100%;
}

#soluçoes .btn-soluçoes {
  position: absolute;
  bottom: -20px;
}

#soluçoes .btn-soluçoes a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 222px;
  height: 40px;
  background-color: var(--azul-escuro);
  box-shadow: 0px 4px 17px -4px rgba(27, 85, 136, 0.42);
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  margin-left: 10px;
}

#soluçoes .btn-soluçoes a i {
  margin-left: 10px;
  font-size: 22px;
}

#parceiros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#parceiros h3 {
  color: var(--cinza-3);
  font-size: 32px;
}

#parceiros h3::after {
  content: "";
  width: 58px;
  height: 4px;
  display: block;
  margin: 20px auto;
  background: linear-gradient(90deg, #5d98c5 0%, rgba(93, 152, 197, 0) 100%);
}

#parceiros .main-carousel {
  width: 90%;
}

#parceiros .carousel-cell {
  width: 28%;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

#parceiros .marca {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#parceiros .marca .item {
  width: 85%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cinza-3);
  box-shadow: 0px 5px 21px 0px #0000001a;
}

@media screen and (max-width:770px) {
  #parceiros .carousel-cell {
    width: 66%;
  }
}

#elogios {
  background-image: url(../img/image\ 9.png);
  background-color: #f0f2f5;
  background-repeat: no-repeat;
  background-size: 559px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 17px -4px rgba(27, 85, 136, 0.42);
  margin-top: 50px;
}
#elogios .comentarios {
  width: 350px;
  text-align: center;
}

#elogios h3 {
  color: var(--cinza-3);
  font-size: 32px;
  position: relative;
}

#elogios h3::after {
  content: "";
  width: 239px;
  height: 4px;
  display: block;
  margin: 20px auto;
  background: linear-gradient(90deg, #5d98c5 0%, rgba(93, 152, 197, 0) 100%);
}

#elogios .container {
  width: 90%;
  max-width: 1486px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#elogios .container .card {
  width: 30%;
  margin: 10px;
  min-width: 300px;
}

#elogios .text {
  background-color: #f0f2f5;
  padding: 10px 10px 30px 10px;
  box-shadow: 0px 14px 21px 0px rgba(0, 0, 0, 0.116);
}

#elgoios .text img {
  width: 64px;
}

#elogios .text p {
  font-size: 14px;
  color: var(--cinza-3);
  line-height: 21px;
}

#elogios .localidade {
  padding: 15px 0;
  font-size: 16px;
  color: var(--cinza-3);
}

#segurança {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#segurança .container {
  width: 90%;
  max-width: 1486px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#segurança .container .img-8 {
  width: 60%;
  min-width: 350px;
}

#segurança .container .img-8 img {
  width: 100%;
}

#segurança .container {
  width: 90%;
}

#segurança .item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-width: 300px;
}

#segurança .container h4 {
  font-size: 25px;
  color: var(--cinza-3);
  padding: 10px 0;
}

#segurança .container h2 {
  font-size: 40px;
  color: var(--azul-escuro);
  padding: 10px 0;
}

#segurança .container p {
  font-size: 16px;
  color: var(--cinza-3);
}

#segurança .btn-soluçoes a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 40px;
  background-color: var(--azul-1);
  box-shadow: 0px 4px 17px -4px rgba(18, 162, 218, 0.42);
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  margin-top: 20px;
}

#segurança .btn-soluçoes a i {
  margin-left: 10px;
  font-size: 22px;
}

#contato {
  display: flex;
  justify-content: center;
  background-color: #f0f2f5;
  padding: 50px 0;
}

#contato .container {
  width: 90%;
  max-width: 1486px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contato .form {
  width: 45%;
  min-width: 350px;
  margin: 10px;
}

#contato .container .form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#contato form h4 {
  font-size: 25px;
  color: var(--cinza-3);
}

#contato form h3 {
  font-size: 41px;
  color: var(--azul-escuro);
  margin: 15px 0;
}

#contato form h3::after {
  content: "";
  width: 239px;
  height: 4px;
  display: block;
  margin: 20px 0;
  background: linear-gradient(90deg, #5d98c5 0%, rgba(93, 152, 197, 0) 100%);
}

#contato form input,
textarea {
  margin: 5px 0px;
  border: none;
  padding-left: 8px;
}

#contato form input {
  width: 100%;
  height: 50px;
}

#contato textarea {
  width: 100%;
  height: 180px;
  padding: 8px;
}

#contato .img-10 {
  width: 45%;
  min-width: 350px;
  margin: 10px;
}

#contato .img-10 img {
  width: 100%;
}

#contato form button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 191px;
  height: 50px;
  background-color: var(--azul-escuro);
  box-shadow: 0px 4px 17px -4px rgba(27, 85, 136, 0.42);
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  margin-top: 20px;
  border: none;
}

#contato form button i {
  margin-left: 10px;
}

footer {
  background-color: var(--azul-escuro);
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 1423px;
  margin: 0 auto;
  padding: 50px 0;
}

footer .logo-bottom {
  display: flex;
  align-items: center;
  width: 20%;
  min-width: 200px;
}

footer .logo-bottom img {
  width: 130px;
}

footer .nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-width: 200px;
}

footer .nav-bottom ul li {
  list-style: none;
  margin: 10px 0;
}

footer .nav-bottom ul li a {
  color: #fff;
  text-decoration: none;
}

footer .contato {
  width: 30%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .contato h4,
p {
  margin: 8px 0;
  color: var(--cinza-5);
}

footer .contato i {
  margin-right: 5px;
}

footer .redes-sociais {
  width: 30%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

footer .redes-sociais img {
  margin: 0 5px;
}

footer .dev-bottom {
  background-color: #f0f2f5;
  display: flex;
}

footer .dev-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

footer .dev-bottom .position-footer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1423px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

footer .dev-bottom .direitos {
  width: 50%;
  min-width: 300px;
}

footer .dev-bottom .direitos h4 {
  color: #9e9e9e;
}

footer .dev-bottom .logo-footer {
  width: 50%;
  min-width: 300px;
  text-align: end;
}

@media screen and (max-width: 770px) {
  footer .logo-bottom {
    justify-content: center;
  }

  footer .nav-bottom ul {
    text-align: center;
    margin-bottom: 15px;
  }

  footer .contato div {
    text-align: center;
    margin-bottom: 20px;
  }

  footer .redes-sociais {
    justify-content: center;
  }

  footer .dev-bottom {
    justify-content: center;
  }

  footer .direitos {
    text-align: center;
    margin-bottom: 20px;
  }

  footer .dev-bottom .logo-footer {
    text-align: center;
    margin-bottom: 20px;
  }
}

/* Sobre */

#layout {
  background-image: url(../img/Layout-sobre.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}

#layout .title {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#layout .title .item {
  width: 610px;
  margin-top: 50px;
}

#layout .title h2 {
  color: #fff;
  font-size: 45px;
}

#about .container {
  width: 80%;
  max-width: 1423px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}

#about .container img {
  width: 400px;
}

#about .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .container .text h4 {
  color: var(--cinza-3);
  font-size: 18px;
  margin-bottom: 10px;
}

#about .container .text h2 {
  color: var(--azul-escuro);
  font-size: 50px;
  margin-bottom: 10px;
}

#about .container p {
  color: var(--cinza-3);
  font-size: 16px;
}

#ideais > h3 {
  color: var(--cinza-3);
  font-size: 32px;
  text-align: center;
}

#ideais > h3::after {
  content: "";
  width: 58px;
  height: 4px;
  display: block;
  margin: 20px auto;
  background: linear-gradient(90deg, #5d98c5 0%, rgba(93, 152, 197, 0) 100%);
}

#ideais .container {
  width: 90%;
  max-width: 1423px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#ideais .container .item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 260px;
  margin: 10px;
  min-width: 300px;
  background-color: #f0f2f5;
  padding: 10px 10px 30px 10px;
  box-shadow: 10px 14px 21px 0px rgba(0, 0, 0, 0.116);
}

#ideais .container .item-text h3 {
  color: var(--azul-escuro);
  font-size: 32px;
}

#ideais .container .item-text p {
  color: var(--cinza-3);
  text-align: center;
}

#ideais .container .item-text ul li {
  color: var(--cinza-3);
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

@media screen and (max-width: 770px) {
  #layout .title .item {
    text-align: center;
    margin: 0;
  }

  #layout .title h2 {
    font-size: 40px;
    line-height: 50px;
  }

  #about .container img {
    display: none;
  }
}

/* Física */
#planos {
  display: flex;
  justify-content: end;
  background-color: #f0f2f5;
}

#planos .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1423px;
  position: relative;
  padding: 30px 0;
}

#planos .container .text {
  width: 40%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#planos .container .text h2 {
  font-size: 50px;
  color: var(--azul-escuro);
  width: 240px;
}

#planos .container .text h2::after {
  content: "";
  width: 150px;
  height: 4px;
  display: block;
  margin: 20px 0;
  background: linear-gradient(90deg, #5d98c5 0%, rgba(93, 152, 197, 0) 100%);
}

#planos .container .text h3 {
  color: var(--cinza-3);
  line-height: 30px;
  font-size: 24px;
}

#planos .container .logo {
  position: absolute;
  left: 35%;
}

#planos .container .logo img {
  width: 260px;
}

#planos .container .image {
  width: 500px;
  min-width: 300px;
}

#planos .container .image img {
  width: 100%;
}
/*  */

#planejamentos {
  background-color: #f0f2f5;
}

#planejamentos .container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1423px;
  padding: 30px 0;
  margin: 0px auto;
}

#planejamentos .container .card-1 {
  width: 28%;
  margin: 30px 15px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-width: 300px;
  border-radius: 16px;
  background-image: url(../img/card-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container .card-1 h3 {
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
}

#planejamentos .container .card-1 p {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#planejamentos .btn {
  position: absolute;
  bottom: -20px;
}

#planejamentos .btn a {
  bottom: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: var(--cinza-5);
  box-shadow: 0px 4px 17px -4px rgba(18, 162, 218, 0.42);
  color: var(--cinza-3);
  border-radius: 50px;
  font-size: 18px;
  margin-left: 10px;
}

#planejamentos .container .card-2 {
  width: 28%;
  margin: 30px 15px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-width: 300px;
  border-radius: 16px;
  background-image: url(../img/card-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container .card-2 h3 {
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
}

#planejamentos .container .card-2 p {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#planejamentos .container .card-3 {
  width: 28%;
  margin: 30px 15px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-width: 300px;
  border-radius: 16px;
  background-image: url(../img/card-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container .card-3 h3 {
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
}

#planejamentos .container .card-3 p {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#planejamentos .btn {
  position: absolute;
  bottom: -20px;
}

#planejamentos .btn a {
  bottom: 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: var(--cinza-5);
  box-shadow: 0px 4px 17px -4px rgba(18, 162, 218, 0.42);
  color: var(--cinza-3);
  border-radius: 50px;
  font-size: 18px;
  margin-left: 10px;
}

#planejamentos .btn a i {
  margin-left: 5px;
}

#planejamentos .btn a:hover {
  background-color: var(--azul-1);
  color: #fff;
  transition: 0.5s;
}

#planejamentos .container .card-4 {
  width: 44%;
  height: 380px;
  min-width: 300px;
  margin: 10px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../img/card-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container .card-4 h3{
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
  width: 40px;
}

#planejamentos .container .card-4 p {
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

#planejamentos .card-4 .btn {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

#planejamentos .container .card-5 {
  width: 44%;
  height: 380px;
  min-width: 300px;
  margin: 10px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url(../img/card-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container .card-5 h3{
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
  width: 40px;
}

#planejamentos .container .card-5 p {
  color: #fff;
  font-size: 20px;
  padding: 20px;
}

#planejamentos .card-4 .btn {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

#planejamentos .card-5 .btn {
  position: absolute;
  bottom: -20px;
  left: 20px;
}

#planejamentos .container-left {
  width: 80%;
  max-width: 1423px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

#planejamentos .container-left .card-6 {
  width: 28%;
  margin: 30px 15px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-width: 300px;
  border-radius: 16px;
  background-image: url(../img/card-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container-left .card-6 h3 {
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
}

#planejamentos .container-left .card-6 p {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

#planejamentos .container-left .card-7 {
  width: 28%;
  margin: 30px 15px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  min-width: 300px;
  border-radius: 16px;
  background-image: url(../img/card-7.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 300px 50px rgba(0, 0, 0, 0.685);
}

#planejamentos .container-left .card-7 h3 {
  color: #fff;
  font-size: 34px;
  margin-left: 20px;
}

#planejamentos .container-left .card-7 p {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
@media screen and (max-width: 770px) {
  header .logo-top-fisica img {
    width: 180px;
    margin: 10px;
  }

  #planos {
    justify-content: center;
  }

  #planos .container {
    margin-top: 60px;
    justify-content: center;
  }

  #planos .logo {
    display: none;
  }

  #planos .text {
    text-align: center;
    margin-bottom: 30px;
  }

  #planos .container .text h2 {
    width: 100%;
  }

  #planos .container .text h2::after {
    margin: 20px auto;
  }

  #planejamentos .container .card-4 {
    margin-bottom: 50px;
  }
}
